<main class="leaderboard__profiles">

    <div>
        <p class="leaderboard__name">{{'chanson.title' | translate}}</p>
        <p class="leaderboard__name">{{'chanson.info' | translate}}</p>
    </div>

    <!--LISTE ARTISTE -->
    <div>
        <article class="leaderboard__profile" *ngFor="let item of chansonList" style="margin: 10px;">
            <span class="leaderboard__name">{{item.name}}</span>
            <button type="button" class="btn btn--primary btn--primary2" (click)="searchVideo(item.name)">{{'chanson.ecouter' | translate}}</button>
        </article>

        <div>
            <p class="leaderboard__name">{{'chanson.video' | translate}}</p>

            <div class="videoPlayer" *ngIf="videoUrl != undefined">
                <iframe width="560" height="315" [src]="videoUrl | trust" title="YouTube video player" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
                web-share" allowfullscreen></iframe>
              </div>

        </div>
    </div>




</main>