<main class="leaderboard__profiles">

    <div >
        <p class="leaderboard__name">AJOUTER UN ARTISTE</p>

        <form class="form">
			<input type="email" class="form__field" placeholder="Nom de l'artiste" />
			<button type="button" class="btn btn--primary btn--inside uppercase">RECHERCHER</button>
		</form>

    </div>

    <!--LISTE ARTISTE -->
    <article class="leaderboard__profile">
        <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="ARTISTE" class="leaderboard__picture">
        <span class="leaderboard__name">Mark Zuckerberg</span>
        <button type="button" class="btn btn--primary btn--primary2">CONCERTS</button>
        <button type="button" class="btn btn--primary btn--primary2">ALBUMS</button>
    </article>


</main>